[submodule "thirdparty/cpp-httplib"]
	path = thirdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "thirdparty/recastnavigation"]
	path = thirdparty/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation
[submodule "thirdparty/libbcrypt"]
	path = thirdparty/libbcrypt
	url = https://github.com/trusch/libbcrypt.git
[submodule "thirdparty/mariadb-connector-cpp"]
	path = thirdparty/mariadb-connector-cpp
	url = https://github.com/mariadb-corporation/mariadb-connector-cpp.git
	ignore = dirty
[submodule "thirdparty/magic_enum"]
	path = thirdparty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
