[submodule "thirdparty/cpp-httplib"]
	path = thirdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "thirdparty/recastnavigation"]
	path = thirdparty/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation
[submodule "thirdparty/libbcrypt"]
	path = thirdparty/libbcrypt
	url = https://github.com/trusch/libbcrypt.git
[submodule "thirdparty/docker-utils"]
	path = thirdparty/docker-utils
	url = https://github.com/lcdr/utils.git
[submodule "thirdparty/LUnpack"]
	path = thirdparty/LUnpack
	url = https://github.com/Xiphoseer/LUnpack.git
[submodule "thirdparty/AccountManager"]
	path = thirdparty/AccountManager
	url = https://github.com/DarkflameUniverse/AccountManager
