<ul class="nav nav-tabs mb-3">
	<li class="nav-item"><a class="nav-link{% if current_page == "health" %} active" aria-current="page{% endif %}" href="/health">Server Health</a></li>
	<li class="nav-item"><a class="nav-link{% if current_page == "instances" %} active" aria-current="page{% endif %}" href="/instances">Instance Load</a></li>
	<li class="nav-item"><a class="nav-link{% if current_page == "diagnostics" %} active" aria-current="page{% endif %}" href="/diagnostics">Diagnostics</a></li>
</ul>
