<ul class="nav nav-tabs mb-3">
	<li class="nav-item"><a class="nav-link{% if current_page == "settings" %} active" aria-current="page{% endif %}" href="/settings">Settings</a></li>
	<li class="nav-item"><a class="nav-link{% if current_page == "settings_history" %} active" aria-current="page{% endif %}" href="/settings/history">History</a></li>
</ul>
