<div class="col-md-6 col-lg-4">
	<div class="card border-0 shadow-sm h-100">
		<div class="card-header bg-light">
			<h5 class="mb-0">Statistics</h5>
		</div>
		<div class="card-body">
			<div class="d-flex justify-content-between align-items-center mb-3">
				<span>Online Players</span>
				<span class="badge bg-info" id="online-players">{{ stats.onlinePlayers }}</span>
			</div>
			<div class="d-flex justify-content-between align-items-center mb-3">
				<span>Total Accounts</span>
				<span class="badge bg-info" id="total-accounts">{{ stats.totalAccounts }}</span>
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<span>Total Characters</span>
				<span class="badge bg-info" id="total-characters">{{ stats.totalCharacters }}</span>
			</div>
		</div>
	</div>
</div>
